<!-- Education & Experience -->
<div class="row mb-4">
    <!-- Education -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white h-100">
            <h6 class="p-3 mb-0"><i class="fas fa-graduation-cap mr-2"></i>Education Background</h6>
            <div class="px-3 pb-1">
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.education %}
                    <li class="media mb-3">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-2 mt-1 align-self-center">
                        <div class="media-body">
                            <div style="font-size: 15.4px">{{ item.name }}</div>
                            <div class="small">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div>{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Experience -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white h-100">
            <h6 class="p-3 mb-0"><i class="fas fa-briefcase mr-2"></i>Working Experience</h6>
            <div class="px-3 pb-1">
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.experience %}
                    <li class="media mb-3">
                        <div class="media-body">
                            <div style="font-size: 15.4px">{{ item.name }}</div>
                            <div class="small">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div>{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break text-right">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 24px; margin-bottom: 4px;" class="d-block">
                                    <em>{{ item.date }}</em>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
